body {
    margin: 0;
    font-family:'Merriweather', serif;
    text-align: center;
}

h1 {
    width: 10%;
    margin: 0 auto 0 auto;
    font-family: 'Moon Dance', cursive;
}
h2 {
    font-family: 'Oswald', sans-serif;
}
h3 {

}
.Top-Container {
    background-color: lightblue;
    text-align: center;
    position: relative;
    padding-top: 50px;
}
.TopCloud {
    position: absolute;
    right: 300px;
    top: 100px;

}
.BottomCloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.MainRob {
    width: 10%;
    margin: 0 auto 0 auto;
}
